{% extends 'bases/base.html' %}
{% load static %}

{% block title %}
    Cadastro Sensor
{% endblock title %}

{% block body %}

    <h3 class="text-center"> Cadastrar Sensor </h3>

    <div class="container">

        <div class="card card-primary">
            <div class="card-body" >
                <div class="d-flex justify-content-center">
                    <form action="#" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                
                        {{form.as_p}}
                        <br>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'consumo_view' %}" class="btn btn-secondary">Voltar</a>
                            <input type="submit" class="btn btn-success" value="Salvar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-primary m-1">
        <div class="card-body">
            
            <h3 class="text-center"> Sensores </h3>

            
            <div class = "table-responsive" >
                <table class="table">
                        <thead class="table-dark">
                
                        <tr class="text-center">
                            <th>Nome</th>
                            <th>Código</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    {% for object in sensores %}
                        <tbody class="text-center">
                            <td >
                                <a>{{object.nome}}</a>
                            </td>
                            <td>
                                {{object.codigo}}</a>
                            </td>
                            <td>
                                <a href="#"><span class="material-icons">edit</span></a>
                                <a href="#"><span class="material-icons text-danger">delete</span></a>
                            </td>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock body %}
