{% extends 'bases/base.html' %}
{% load static %}

{% block body %}

<div class="card card-primary m-1">
  <div class="card-body">
      <form method="GET">
      
        <table class="table table-borderless">
          <thead class="">
            <tr class="text-center">
              <th colspan="3">Data</th>
            </tr>
            <tbody class="text-center">
              <tr>
                <td>
                  <label for="nome">inicial</label>
                  <input class="form-control" type="date" name="data1" placeholder="dd/mm/yyyy" value= "{{request.GET.data1}}">
                </td>
                <td>
                  <label for="nome">final</label>
                  <input class="form-control" type="date" name="data2" value= "{{request.GET.data2}}" >
                </td>
              </tr>
              <tr>
                <td colspan="6">
                  <button type="submit" class="btn btn-outline-primary">Filtrar</button>
                </td>
              </tr>
              
            </tbody>
          </thead>
        </table>
      </form>
  </div>
</div>
    
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ["Periodo", "Consumo em Litros", { role: "style" } ],
      {% for consumo in consumos %}
          ['{{consumo.data_consumo| date:"d/m/y"}}',  {{consumo.consumo__sum}} , '#266bbb'],
      {% empty %}
          ['', 0, ''],
      {% endfor %}
    ]);

    var view = new google.visualization.DataView(data);
    view.setColumns([0, 1,
                     { calc: "stringify",
                       sourceColumn: 1,
                       type: "string",
                       role: "annotation" },
                     2]);

    var options = {
      title: "Consumo de água no período: {{periodo.0}} à {{periodo.1}}",
      width: 'auto',
      height: 'auto',
      bar: {groupWidth: "60%"},
      legend: { position: "right" },
    };
    var chart = new google.visualization.ColumnChart(document.getElementById("grafico"));
    chart.draw(view, options);
}


</script>
<div id="grafico" class="d-flex justify-content-center"></div>

{% endblock body %}