{% extends 'bases/base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'usuarios/css/usuarios.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}

    <div class="container-fluid bg-inscricao">
        
        <div class="row">
            <div class="col-md">
                <h3 class="logo">Consumo de Água</h3>

                {% include "partials/usuarios/cadastro.html" %}

            </div>

            <div class="col-md bg-img">
            
            </div>
        
        </div>
        
    </div>

    

{% endblock body %}